{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h1>HTML Table</h1>

<table>
  <tr>
    <th>id</th>
    <th>nom</th>
    <th>prenom</th>
    <th>classe</th>
    <th>action</th>
  </tr>

{% for etude in etudiants %}


  <tr>
    <td>{{etude.id}}</td>
    <td>{{etude.nom}}</td>
    <td>{{etude.prenom}}</td>
    <td>{{etude.classe}}</td>
    <td> 
      
      <a class="btn btn-primary" href="{{path('edit_success',{ 'etudiant': etude.id })}}">editer</a>
      <a class="btn btn-danger" href="{{path('d_success',{ 'etudiant': etude.id })}}">supprimer</a>  , 
    </td>
  </tr>
  {% endfor %}
  <tr>
  {% for c in conter %}
  {% for b in c %}
    <td colspan="5">Total : {{b}} </td>
  {% endfor %}
  {% endfor %}

  </tr>

</table>
<a href="{{path('chercher_etudiant')}}">search</a>






{% endblock %}
